.summary {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 16px;
  font-size: var(--font-size);
  font-weight: 300;
  color: var(--text-color);
}

.link-row {
  width: 90%;
  float: left;
  margin: auto;
  margin-top: 16px;
}

.emptyContainer {
  font-size: var(--font-size);
  font-weight: 300;
  text-align:center;
  margin-top: 100px;
}

.username {
}

.link-container {
  font-size: var(--font-size);
  font-weight: 300;
  display:block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.link-container a {
  text-decoration: none;
  color: #0074D9;
  cursor: inherit;
}

.empty-feed-container {
}

.empty-feed-text {
  text-align: center;
  color: grey;
}
