/* Variables */
:root {
  --background-color: #f5f5f4;
  --text-color: #333;
  --window-border-radius: 6px;
  --font-size: 14px;
}

.header-arrow {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #e8e6e8;
}

.title {
  padding: 5px
}

.window {
  position: absolute;
  top: 5px;
}

.toolbar {
  box-shadow: none;
}

.window, .toolbar-header {
  border-top-left-radius: var(--window-border-radius);
  border-top-right-radius: var(--window-border-radius);
}

.window-content {
  background-color: var(--background-color);
}

.summary {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 16px;
  font-size: var(--font-size);
  font-weight: 300;
  color: var(--text-color);
}

.link-row {
  width: 90%;
  float: left;
  margin: auto;
  margin-top: 16px;
}

.emptyContainer {
  font-size: var(--font-size);
  font-weight: 300;
  text-align:center;
  margin-top: 100px;
}

.username {
}

.link-container {
  font-size: var(--font-size);
  font-weight: 300;
  display:block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link-container a {
  text-decoration: none;
  color: #0074D9;
}
