.slide-enter {
  transform: translate(100%);
}
.slide-enter.slide-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.slide-exit {
  transform: translate(0%);
}
.slide-leave.slide-exit-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

.slide-back-enter{
  transform: translate(-100%);
}

.slide-back-enter.bg-back-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.slide-back-exit {
  transform: translate(0%);
}
.slide-back-exit.bg-back-exit-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
