//@import '~material-design-lite/material.min.css';

@font-face {
  font-family: Colfax-Medium;
  src: url("../fonts/Colfax-Medium.otf") format("opentype");
}

@font-face {
  font-family: Colfax-Bold;
  font-weight: bold;
  src: url("../fonts/Colfax-Bold.otf") format("opentype");
}

@font-face {
  font-family: Colfax-Regular;
  src: url("../fonts/Colfax-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../fonts/MaterialIcons-Regular.woff2") format('woff2'),
    url("../fonts/MaterialIcons-Regular.woff") format('woff'),
    url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #474747;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #333;
  //background-color: transparent;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

label {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  display: inline-block;
  width: 100%;
  min-height: 25px;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.form-control:focus {
  border-color: #6db3fd;
  box-shadow: 3px 3px 0 #6db3fd, -3px -3px 0 #6db3fd, -3px 3px 0 #6db3fd, 3px -3px 0 #6db3fd;
}

.form-actions .btn {
  margin-right: 10px;
}

.form-actions .btn:last-child {
  margin-right: 0;
}

@font-face {
  font-family: "photon-entypo";
  src: url("/app/vendor/fonts/photon-entypo.eot");
  src: url("/app/vendor/fonts/photon-entypo.eot?#iefix") format("eot"), url("/app/vendor/fonts/photon-entypo.woff") format("woff"), url("/app/vendor/fonts/photon-entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-arrow {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #ffffff;
}

.title {
  padding: 5px;
  font-weight: bold;
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: #555;
  cursor: default;
}

.window {
  position: absolute;
  border-radius: 8px;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}

.window-content {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.loading-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
