.empty-feed {
  align-self: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  .add-icon-container {
    i {
      font-size: 100px;
      color: rgba(255, 95, 54, 0.6);
      padding-right: 15px;
    }
  }

  .add-btn-container {
    font-family: 'Colfax-Medium';
    display: flex;
    flex-direction: column;
    align-items: center;

    .add-header {
      font-size: 14px;
      font-weight: 500;
      color: rgba(255, 95, 54, 0.6);
    }

    .add-btn {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 240px;
      height: 50px;
      border: solid 3px rgba(255, 95, 54, 0.6);
      margin-top: 25px;

      a {
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: rgba(255, 95, 54, 0.6);
      }
    }

    .add-btn:hover {
      border: solid 3px rgba(255, 95, 54, 1);

      a {
        color: rgba(255, 95, 54, 1);
      }
    }
  }
}

