.feed-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  //background-color: #EDEEEF;
  background-color: #F2F2F2;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #CECECE;
}

.feed-header-container {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.feed-header {
  font-family: 'Colfax-Bold';
  color: #474747;
  font-size: 18px;
}

.feed-links-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.refresh-feed-btn {
  width: 76px;
  height: 26px;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  span {
    font-family: 'Colfax-Medium';
    font-size: 12px;
    font-weight: 500;
    color: #00d5d6;
    padding-top: 2px;
    padding-left: 1px;
  }

  i {
    font-size: 16px;
    color: #00d5d6;
  }
}
