.feed-container {
  flex-direction: column;
  flex: 1;
  background-color: #EDEEEF;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #CECECE;
}

//TODO change this to flex once .pane is restyled/removed
.empty-feed-container {
  margin-top: 50px;
  div {
    font-family: 'Colfax-Regular';
    text-align: center;
    color: grey;
  }
}

.feed-header-container {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.feed-header {
  font-family: 'Colfax-Bold';
  color: #474747;
  font-size: 18px;
}

.add-friends {
  font-family: 'Colfax-Medium';
  color: #00d5d6;
  font-size: 12px;
}

.add-friends-link {
  text-decoration: none;
}
