.feed-container {
  background-color: #F2F2F2;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #CECECE;
}

.emptyContainer {
  font-size: var(--font-size);
  font-weight: 300;
  text-align:center;
  margin-top: 100px;
}

.empty-feed-text {
  text-align: center;
  color: grey;
}

.feed-header-container {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feed-header {
  font-family: 'Colfax-Bold';
  color: #474747;
  font-size: 18px;
}

.add-friends {
  font-family: 'Colfax-Medium';
  color: #474747;
  font-size: 12px;
}

.add-friends-link {
  padding-top: 3px;
  text-decoration: none;
}
