.feed-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #EDEEEF;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #CECECE;
}

.feed-header-container {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.feed-header {
  font-family: 'Colfax-Bold';
  color: #474747;
  font-size: 18px;
}

.feed-links-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.refresh-feed-btn {
  font-family: 'Colfax-Medium';
  color: #00d5d6;
  font-size: 12px;
  text-decoration: none;
}
