.forgot-pswd-header-section {
  margin-top: 45px;
  padding-left: 42px;
  padding-right: 42px;
  height: 35px;
}

.forgot-pswd-header {
  font-size: 14px;
  font-family: 'Colfax-Medium';
  font-weight: 500;
  color: #595959;
  text-align: center;

  &.sent {
    color: #00d5d6;
  }
}

.forgot-pswd-header-sent {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.forgot-pswd-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

.reset-pswd-btn {
  height: 32px;
  width: 120px;
  -webkit-appearance: none;
  border: 0;
  outline: none;
  background-color: #00d6d6;
  box-shadow: inset 0 -0.5px 0 0 #e4e4e4;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Colfax-Medium';
  font-size: 12px;

  &.sent {
  
  }
}

