.forgot-pswd-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
}

.forgot-pswd-header-nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.forgot-pswd-header-section {
  display: flex;

  &.back {
    padding-left: 20px;
  }

  &.invite {
    padding-right: 20px;
  }
}

.forgot-pswd-form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
