.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 2px -2px grey;
}

.header-section {
  display: flex;

  &.back {
    padding-left: 20px;
  }

  &.invite {
    padding-right: 20px;
  }
}

.header-title {
  font-family: 'Colfax-Bold';
  color: #474747;
  font-size: 18px;
}

.invite-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  span {
    font-family: 'Colfax-Medium';
    color: #00d5d6;
    font-size: 12px;
    font-weight: 500;
  }

  i {
    color: #00d5d6;
    font-size: 28px;
    object-fit: contain;
  }
}

.friends-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.following-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friends-header-container {
  display: flex;
  flex: 1;
}

.following-header-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  height: 50px;
  background-color: white;
}

//possibly unused
.following-header-container {
  span {
    font-family: 'Colfax-Medium';
    color: #474747;
    font-size: 14px;
    padding-left: 12px;
    padding-top: 10px;
  }
}

.user-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  margin-bottom: 5px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.user-info-container, .user-action-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.user-info-container {
  align-items: center;
}
.user-action-container {
  justify-content: flex-end;
}

.user-avatar {
  display: flex;
  padding-left:10px;
  align-items: center;
  justify-content: center;
}

.user-username {
  font-family: 'Colfax-Bold';
  color: #595959;
  font-size: 14px;
  padding-bottom: 10px;
  padding-left:10px;
}

.unfollow {
  font-size: 24px;
  margin-right: 15px;
}

.tabs {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 0px;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  font-family: 'Colfax-Bold';
  font-size: 14px;
}

.tabs {
  a {
    text-decoration: none;
    font-weight: 400;
    color: #b8b8b8;
  }

  li {
    flex: 1;
    padding: 10px;
    box-shadow: inset 0 -0.5px 0 0 #e4e4e4;
    text-align: center;
  }

  li.active {
    border-bottom: 3px solid #00d6d6;
    a {
      font-weight: 700;
      color: #474747;
    }
  }
}

.users-container {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.empty-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: 'Colfax-Regular';
    font-size: 12px;
    color: #8b8a8a;
  }
}

.collapsed-container {
  background-color: #FFFFFF;
}

.friend-actions-container {
  display: flex;
  flex-direction: column;

  .inner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

    .invite-input {
      flex: 1;
      font-family: 'Colfax-Medium';
      height: 30px;
      padding: 5px;
      font-size: 12px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom-width: 2px;
      border-bottom-color: #00d6d6;
    }
  }

  form {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.input-subheader {
  align-self: flex-end;
  padding-right: 20px;
  padding-top: 5px;
  font-family: 'Colfax-Regular';
  font-size: 12px;
  color: #595959;
}

.action-btn {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  width: 74px;
  height: 26px;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px #ff5f36;

  &.follow {
    background-color: white;
  }

  &.following {
    background-color: #ff5f36;
  }

  span {
    font-family: 'Colfax-Medium';
    font-size: 12px;
    font-weight: 500;
    text-align: center;

    &.follow-text {
      color: #ff5f36;
    }

    &.following-text {
      color: #f9f9f9;
    }
  }
}
