.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 10px;
}

.app-title {
  font-family: 'Colfax-Medium';
  letter-spacing: 1px;
}

.app-title a {
  text-decoration: none;
}

.header-section {
  display: flex;
}

.settings {
  margin-left: 22px;
}

.user {
  margin-right: 22px;
}

.title-link {
  color: #00d6d6;
  font-size: 18px;
}

.title-o {
  color: #440036;
  font-size: 18px;
}

.title-wich {
  color: #ff5e38;
  font-size: 18px;
}
