.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 10px;
}

.app-title {
  padding-bottom: 5px
}

.app-title a {
  text-decoration: none;
}

.header-section {
  display: flex;

  &.left {
    padding-left: 20px;
  }

  &.right {
    padding-right: 20px;
  }
}

.nav-icon {
  opacity: 0.75;
}

.nav-icon:hover {
  opacity: 1;
}

/* can be used to fade out nav icons but doesnt
look good unless you are sliding new pages
.nav-icon.disabled {
  animation: fadeOut 150ms linear 0s 1 normal forwards running;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
*/

// must match icon width
.empty-nav-container {
  width: 24px;
}
