.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 10px;
}

.app-title {
  padding-bottom: 5px
}

.app-title a {
  text-decoration: none;
}

.header-section {
  display: flex;

  &.left {
    padding-left: 20px;
  }

  &.right {
    padding-right: 20px;
  }
}

.nav-icon {
  opacity: 0.75;
}

.nav-icon:hover {
  opacity: 1;
}

.nav-icon.disabled {
  opacity: 0.5;
}
