.intro-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #ff5f36;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 210px;
}

.content-container.started {
  animation: fadeInIntro;
  animation-duration: 3s;
}

.skip-container {
  display: flex;
  align-items: flex-end;
  flex: 1;

  .skip-text {
    text-decoration: none;
    margin-bottom: 50px;
    cursor: pointer;
    font-family: 'Colfax-Regular';
    font-size: 11px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
    opacity: 0;

    &.active {
      animation: fadeInSkip;
      animation-duration: .75s;
      animation-fill-mode: forwards;
    }
  }
}

.copy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 230px;
  height: 50px;
  position: relative;
}

.copy-text {
  cursor: default;
  font-family: 'Colfax-Medium';
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 5px;
  padding-top: 8px;

  &.animations-finished {
    cursor: pointer;
  }

  &.padded {
    padding-left: 8px;
  }
}

.invitation-header-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation-avatar-container {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  .sender-avatar {
    width: 110px;
    height: 110px;
    border-radius: 100%;
  }
}

.invitation-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Colfax-Medium';
  color: #ffffff;
  letter-spacing: 0.9px;

  .senderUsername {
    font-size: 18px;
    margin-top: 14px;
  }

  .senderDetail {
    font-size: 14px;
    margin-top: 14px;
  }
}

.invitation-btns-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .add-friend-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
    border: solid 3px #ffffff;
  }

  .invitation-skip-container {
    margin-top: 32px;

    .invitation-skip-text {
      letter-spacing: 1px;
      text-decoration: none;
      cursor: pointer;
      font-family: 'Colfax-Medium';
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
    }
  }
}

@mixin buttonBorder {
  position: absolute;
  background-color: white;
}

.border-left {
  @include buttonBorder;
  border-left: 2px solid rgba(255, 255, 255, 1);
  top: 0%;
  bottom: 100%;
  left: 0%;
}

.border-right {
  @include buttonBorder;
  border-right: 2px solid rgba(255, 255, 255, 1);
  top: 100%;
  bottom: 0%;
  right: 0%;
}

.border-top-right {
  @include buttonBorder;
  border-top: 2px solid rgba(255, 255, 255, 1);
  top: 0%;
  bottom: 100%;
  left: 100%;
  right: 0%;
}

.border-top-left {
  @include buttonBorder;
  border-top: 2px solid rgba(255, 255, 255, 1);
  top: 0%;
  bottom: 100%;
  left: 50%;
  right: 50%;
}

.border-bottom-right {
  @include buttonBorder;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  top: 100%;
  bottom: 0%;
  right: 50%;
  left: 50%;
}

.border-bottom-left {
  @include buttonBorder;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  top: 100%;
  bottom: 0%;
  right: 100%;
  left: 0%;
}

.border-top-left.active {
  animation: outlineTopLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.border-top-right.active {
  animation: outlineTopRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.border-bottom-left.active {
  animation: outlineBottomLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.border-bottom-right.active {
  animation: outlineBottomRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.border-left.active {
  animation: outlineLeft;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.border-right.active {
  animation: outlineRight;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes outlineTopRight {
  from {
    left: 100%;
  }

  to {
    left: 50%;
  }
}

@keyframes outlineTopLeft {
  from {
    left: 50%;
  }

  to {
    left: 0%;
  }
}

@keyframes outlineBottomRight {
  from {
    right: 50%;
  }

  to {
    right: 0%;
  }
}

@keyframes outlineBottomLeft {
  from {
    right: 100%;
  }

  to {
    right: 50%;
  }
}

@keyframes outlineLeft {
  from {
    bottom: 100%;
  }

  to {
    bottom: 0%;
  }
}

@keyframes outlineRight {
  from {
    top: 100%;
  }

  to {
    top: 0%;
  }
}

.animations-finished {
  animation: fadeInFinish;
  animation-duration: .75s;
}

.copy-container.completed {
  cursor: pointer;
}

@mixin flip-animation {
  animation-duration: .75s;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

.flip-1 {
  animation: flip-one;
  @include flip-animation;
}

.flip-2 {
  animation: flip-two;
  @include flip-animation;
}

.flip-3 {
  animation: flip-three;
  @include flip-animation;
}

.flip-4 {
  animation: flip-four;
  @include flip-animation;
}

.flip-5 {
  animation: flip-five;
  @include flip-animation;
}

@keyframes flip-one {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flip-two {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flip-three {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flip-four {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flip-five {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.greet-1 {
  animation: fadeInGreetOne;
  animation-duration: .75s;
}

.greet-2 {
  animation: fadeInGreetTwo;
  animation-duration: .75s;
}

.greet-3 {
  animation: fadeInGreetThree;
  animation-duration: .75s;
}


.copy-text.greet-1 {
  text-align: center;
}

.copy-text.greet-2 {
  text-align: center;
}

.copy-text.greet-3 {
  text-align: center;
}

@keyframes fadeInGreetOne {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInGreetTwo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInGreetThree {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInFinish {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInIntro {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInSkip {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
