.intro-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #ff5f36;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 210px;
}

.copy-container {
  margin-top: 30px;
}

.copy-text {
  font-family: 'Colfax-Medium';
  font-size: 14px;
  color: #FFFFFF;
}
