.landing-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 260px;

  .text-logo {
    padding-top: 10px;
  }

  .subheader {
    font-family: 'Colfax-Medium';
    color: #474747;
    font-size: 14px;
    padding-top: 15px;
  }
}

.forms-container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 360px;
}

.form-tabs-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: white;
}
/*
.form-tabs-container {
  span {
    font-family: 'Colfax-Medium';
    color: #474747;
    font-size: 14px;
    padding-left: 12px;
    padding-top: 10px;
  }
}
*/
.tabs {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 0px;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  font-family: 'Colfax-Bold';
  font-size: 14px;
}

.tabs {
  a {
    text-decoration: none;
    font-weight: 400;
    color: #b8b8b8;
  }

  li {
    flex: 1;
    padding: 10px;
    box-shadow: inset 0 -0.5px 0 0 #e4e4e4;
    text-align: center;
  }

  li.active {
    border-bottom: 3px solid #00d6d6;
    a {
      font-weight: 700;
      color: #474747;
    }
  }
}

