.link-row {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.link-row:first-child {
  margin-top: 0px;
}

.link-row-header-container {
  display: flex;
  flex-direction: 'row';
  justify-content: space-between;
  padding-bottom: 3px;
}

.link-container {
  display: flex;
  height: 50px;
  flex-direction: 'row';
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #450037;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.username {
  font-family: 'Colfax-Medium';
  color: #474747;
  font-size: 14px;
}

.link-timestamp {
  font-family: 'Colfax-Regular';
  color: #474747;
  font-size: 10px;
  padding-left: 5px;
}

.link-history {
  color: #ff5e38;
  font-family: 'Colfax-Medium';
  font-size: 12px;
}

.emoji-container {
  display: flex;
  flex: 1;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #450037;
}

.emoji-container:nth-of-type(n) {background-color: #ff5e39;}
.emoji-container:nth-of-type(n+1) {background-color: #00d2d1;}
.emoji-container:nth-of-type(n+2) {background-color: #ffffff;}

.url-text-container {
  display: flex;
  flex: 6;
  padding-top: 15px;
  padding-left: 10px;
  cursor: pointer;
}

.url-text-container a {
  font-family: 'Colfax-Medium';
  text-decoration: none;
  color: #474747;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}
