.profile-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.upper-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.lower-container {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  border-top: solid 1px #CECECE;
  background-color: #F2F2F2;
}

.lower-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    font-family: 'Colfax-Bold';
    color: #474747;
    padding-left: 23px;
    padding-top: 10px
  }
}

.profile-avatar-container {
  padding-top: 10px;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: solid 1px #CECECE;
}

.profile-info-container {
  margin-top: 5px;
}

.past-links-container {
  margin-top: 10px;
}

.profile-username {
  font-family: 'Colfax-Regular';
  color: #474747;
}

//TODO change this to flex once .pane is restyled/removed
.empty-past-links-container {
  margin-top: 50px;
  div {
    font-family: 'Colfax-Regular';
    text-align: center;
    color: grey;
  }
}

.edit-avatar-container {
  background-color: rgba(179, 178, 182, 0.5);
}

.edit-avatar {
  text-align: 'center';
  font-color: #ffffff;
  font-family: 'Colfax-Regular';
  font-size: 12px;
}
