.settings-container {
  background-color: #FFFFFF;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.settings-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.settings-section:first-child {
  margin-top: 0px;
}

.section-subheader {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Colfax-Bold';
    font-size: 14px;
    color: #474747;
  }
}

#coming-soon {
  cursor: default;
  font-family: 'Colfax-Medium';
  font-size: 12px;
  color: #00d5d6;
  padding-right: 15px;
}

.settings-option {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-top: 10px;

  .section-btn {
    text-decoration: none;
    font-family: 'Colfax-Regular';
    font-size: 14px;
    color: #595959;

    &.disabled {
      cursor: default;
      color: rgba(71, 71, 71, 0.4)
    }
  }

  .bottom-btn {
    text-decoration: none;
    font-family: 'Colfax-Regular';
    font-size: 14px;
    color: #595959;

    &.disabled {
      cursor: default;
      color: rgba(71, 71, 71, 0.4)
    }
  }
}

.settings-option:first-child {
  padding-top: 0px;
}

.clear-history-confirmation {
  font-family: 'Colfax-Medium';
  color: #595959;
  font-size: 13px;
}

.clear-confirmation-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Colfax-Medium';

  .confirm-link {
    text-decoration: none;
  }

  .clear-yes {
    cursor: pointer;
    color: #00d6d6;
  }

  .clear-no {
    cursor: pointer;
    color: #ff5e38;
  }
}
