.share-container {
  height: 100px;
  background-color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.share-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .spinner {
    margin-top: 35px;
  }
}

.share-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 3px;
}

.share-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 15px;
  margin-top: 3px;
}

.share-label {
  font-family: 'Colfax-Medium';
}

.clear-link, .clear-link-confirmation {
  display: flex;
  font-family: 'Colfax-Regular';
  font-size: 10px;
  color: #8b8a8a;
  cursor: pointer;
}

.clear-link-confirmation div {
  display: flex;
  padding-left: 5px;
}

.clear-yes {
  color: #00d6d6
}

.clear-no {
  color: #ff5e38;
}

.share-header-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }
}

.link-timestamp {
  font-family: 'Colfax-Medium';
  font-size: 10px;
  color: #6f6f6f;
}

.my-link-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.link-input {
  flex: 1;
  height: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Colfax-Medium';
  font-size: 12px;
}

.link-input:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.share-edit-border {
  position: absolute;
  border-bottom: 2px solid #00d5d6;
  top: 100%;
  bottom: 0%;
  right: 50%;
  left: 50%
}

.share-edit-border.active {
  animation: activeEditBorder;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes activeEditBorder {
  from {
    left: 50%;
    right: 50%;
  }

  to {
    left: 0%;
    right: 0%;
  }
}

*:focus {
  outline: none;
}

.my-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  //basic grey underline:
  //border-bottom: 2px solid #b8b8b8
  //option 1 inset box:
  //box-shadow: 0px 0px 4px 0px #b8b8b8 inset;
  //option 2 high spread light shadow box:
  //box-shadow: 0px 1px 10px 0px #c8c8c8;
  //option 3 clean minimal box:
  box-shadow: 0px 1px 1px 0px #b8b8b8;
  border-top: 1px solid #f8f8f8;
  border-radius: 2px;
}

.my-link {
  display: flex;
  flex: 1;
  align-items: center;
  height: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow: hidden;
}

.my-link-url {
  font-family: 'Colfax-Medium';
  font-size: 13px;
  color: rgba(71, 71, 71, .70);
  line-height: 15px;
  letter-spacing: 0.1px;
  padding-left: 5px;

  &.flash {
    animation: flashCurrentLink;
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  &.bounce {
    animation: bounceLink;
    animation-duration: .65s;
    animation-fill-mode: both;
  }

  &.empty {
    color: rgba(71, 71, 71, .50);
  }
}

.seen-by {
  font-family: 'Colfax-Regular';
  font-size: 11px;
}

.share-border-left {
  position: absolute;
  box-shadow: 0px 1px 1px 0px #fd7350;
  top: 50%;
  bottom: 50%;
  left: 0%;
}

.share-border-right {
  position: absolute;
  box-shadow: 0px 1px 1px 0px #fd7350;
  top: 50%;
  bottom: 50%;
  right: 0%;
}

.share-border-top {
  position: absolute;
  box-shadow: 0px 1px 1px 0px #fd7350;
  top: 0%;
  bottom: 100%;
  left: 50%;
  right: 50%;
}

.share-border-bottom {
  position: absolute;
  box-shadow: 0px 1px 1px 0px #fd7350;
  //for just the fire bottom
  //box-shadow: 0px 1px 1px 1px #fd7350;
  top: 100%;
  bottom: 0%;
  right: 50%;
  left: 50%;
}

.share-border-left.active {
  animation: shareOutlineLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.share-border-right.active {
  animation: shareOutlineRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.share-border-top.active {
  animation: shareOutlineTop;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.share-border-bottom.active {
  animation: shareOutlineBottom;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes flashCurrentLink {
  from, 50%, to {
    color: rgba(71, 71, 71, .50);
  }

  25%, 75% {
    color: rgba(0, 213, 214, .60)
  }
}

@keyframes bounceLink {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shareOutlineLeft {
  from {
    box-shadow: 0px 1px 1px 1px #fd7350;
    top: 50%;
    bottom: 50%
  }
  to {
    box-shadow: 0px 1px 1px 1px #fd7350;
    top: 0%;
    bottom: 0%
  }
}

@keyframes shareOutlineRight {
  from {
    box-shadow: 0px 1px 1px 1px #fd7350;
    top: 50%;
    bottom: 50%
  }
  to {
    box-shadow: 0px 1px 1px 1px #fd7350;
    top: 0%;
    bottom: 0%
  }
}

@keyframes shareOutlineTop {
  from {
    box-shadow: 0px 1px 1px 1px #fd7350;
    right: 50%;
    left: 50%
  }
  to {
    box-shadow: 0px 1px 1px 1px #fd7350;
    right: 0%;
    left: 0%
  }
}

@keyframes shareOutlineBottom {
  from {
    box-shadow: 0px 1px 1px 1px #fd7350;
    right: 50%;
    left: 50%
  }
  to {
    box-shadow: 0px 1px 1px 1px #fd7350;
    right: 0%;
    left: 0%
  }
}
