.share-container {
  height: 100px;
  background-color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
}

.share-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 3px;
}

.share-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.share-label {
  font-family: 'Colfax-Medium';
}

.clear-link {
  display: flex;
  font-family: 'Colfax-Regular';
  font-size: 10px;
  color: #8b8a8a;
  cursor: pointer;
}

.link-timestamp {
  font-family: 'Colfax-Regular';
  font-size: 11px;
}

.my-link-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-input {
  flex: 1;
  height: 30px;
  padding: 5px;
  font-family: 'Colfax-Medium';
  font-size: 12px;
  padding-left: 5px;
}

.link-input:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 2px;
  border-bottom-color: #00d6d6;
}

*:focus {
  outline: none;
}

.my-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: text;
}

.my-link {
  flex: 1;
  height: 30px;
  padding: 5px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #e1e1e0;
}

.my-link-url {
  font-family: 'Colfax-Medium';
  font-size: 12px;
  color: rgba(71, 71, 71, .50);
  line-height: 8px;
  letter-spacing: 0.1px;
}

.seen-by {
  font-family: 'Colfax-Regular';
  font-size: 11px;
}
