.share-container {
  height: 100px;
  background-color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.share-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 3px;
}

.share-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 15px;
  margin-top: 3px;
}

.share-label {
  font-family: 'Colfax-Medium';
}

.clear-link, .clear-link-confirmation {
  display: flex;
  font-family: 'Colfax-Regular';
  font-size: 10px;
  color: #8b8a8a;
  cursor: pointer;
}

.clear-link-confirmation div {
  display: flex;
  padding-left: 5px;
}

.clear-yes {
  color: #00d6d6
}

.clear-no {
  color: #ff5e38;
}

.share-header-inner-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.link-timestamp {
  font-family: 'Colfax-Medium';
  font-size: 10px;
  color: #6f6f6f;
}

.checkmark.success {
  animation: fadeInSuccess;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.success-icon {
  font-size: 13px !important;
  color: green;
}

.my-link-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.link-input {
  flex: 1;
  height: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Colfax-Medium';
  font-size: 12px;
}

.link-input:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.share-edit-border {
  position: absolute;
  border-bottom: 2px solid #00d5d6;
  //box-shadow: 0 2px 2px 0px #e8e8e8;
  top: 100%;
  bottom: 0%;
  right: 50%;
  left: 50%
}

.share-edit-border.active {
  animation: activeEditBorder;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes activeEditBorder {
  from {
    left: 50%;
    right: 50%;
  }

  to {
    left: 0%;
    right: 0%;
  }
}

*:focus {
  outline: none;
}

.my-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  //border-bottom: 2px solid #b8b8b8
  //option 1 inset
  //box-shadow: 0px 0px 4px 0px #b8b8b8 inset;
  //option 2 high spread light shadow
  //box-shadow: 0px 1px 10px 0px #c8c8c8;
  //option 3 cleaner
  box-shadow: 0px 1px 1px 0px #b8b8b8;
  border-top: 1px solid #f8f8f8;
  border-radius: 2px;
}

.my-link {
  display: flex;
  flex: 1;
  align-items: center;
  height: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow: hidden;
}

.my-link-url {
  font-family: 'Colfax-Medium';
  font-size: 13px;
  color: rgba(71, 71, 71, .70);
  line-height: 15px;
  letter-spacing: 0.1px;
  padding-left: 5px;
}

.my-link-url.pulse {
  animation: pulsateLink;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes pulsateLink {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.seen-by {
  font-family: 'Colfax-Regular';
  font-size: 11px;
}
